<% for(i in session.dataValues.messages) { %>
<% if(session.dataValues.messages.hasOwnProperty(i)) { %>
<% if(i == 'accountExists') { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Account already exists! <%= session.dataValues.messages[i] %></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% if(i == 'validationError') { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><%= session.dataValues.messages[i] %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<% if(i == 'accountCreated') { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Account is created!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% if(i == 'accountDeleted') { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Selected accounts are deleted!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% if(i == 'accountEdited') { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Account is edited!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% } %>
<% } %>
<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height: 1000px;">
        <h2 class="tm-block-title">Accounts</h2>
        <div class="container">
          <form action="/admin/accounts" method="get" onsubmit="checkAccountFilter(this);">
            <div class="row" style="margin-bottom: 15px;">
              <div class="col-sm-3">
                <input class="form-universal" name="user" placeholder="Username" value="<%= filters['user'] %>">
              </div>
              <div class="col"></div>
              <div class="col-sm-3">
                <input name="email" class="form-universal" placeholder="E-mail" value="<%= filters['email'] %>">
              </div>
              <div class="col"></div>
              <div class="col-sm-3">
                <input name="country" class="form-universal" placeholder="Country" value="<%= filters['country'] %>">
              </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary text-uppercase">Filter</button>
                <a href="/admin/accounts" class="btn btn-primary text-uppercase">Clear filters</a>
              </div>
            </div>
          </form>
        </div>
        <div class="tm-product-table-container">
          <table id="table1" class="table table-hover tm-table-small tm-product-table sortable">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col" class="clickable">TIMESTAMP</th>
                <th scope="col" class="clickable">ACCOUNT NO.</th>
                <th scope="col" class="clickable">USERNAME</th>
                <th scope="col" class="clickable">FULL NAME</th>
                <th scope="col" class="clickable">COUNTRY</th>
                <th scope="col" class="clickable">ADDRESS</th>
                <th scope="col" class="clickable">EMAIL</th>
                <th scope="col" class="clickable">VERIFIED</th>
                <th scope="col" class="clickable">GENDER</th>
                <th scope="col" class="clickable">BIRTHDAY</th>
                <th scope="col" class="clickable">LAST LOGIN</th>
              </tr>
            </thead>
            <tbody>
              <% for (i = 0; i < users.length; i++) { %>
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td><b><%= users[i].createdAt.toLocaleString('en-GB') %></b></td>
                <td data-id="<%= users[i].id %>"><b>#<%= users[i].id %></b></td>
                <td><b><%= users[i].username %></b></td>
                <td><b><%= users[i].firstName + ' ' + users[i].lastName %></b></td>
                <td><b><%= users[i].country %></b></td>
                <td><b><%= users[i].address %></b></td>
                <td><b><%= users[i].email %></b></td>
                <% if (users[i].emailConfirmed) { %>
                <td><b>Yes</b></td>
                <% } else { %>
                <td><b>No</b></td>
                <% } %>
                <td><b><%= users[i].gender %></b></td>
                <td><b><%= users[i].birthday %></b></td>
                <% if (users[i].lastLogin) { %>
                <td><b><%= users[i].lastLogin.toLocaleString('en-GB') %></b></td>
                <% } else { %>
                <td><b></b></td>
                <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <div class="d-grid gap-2">
          <a href="#" class="btn btn-primary text-uppercase mb-3" data-bs-target="#add-account" data-bs-toggle="modal"
            data-bs-dismiss="modal">Add new account</a>
          <button class="btn btn-primary text-uppercase" data-bs-target="#rem-account" data-bs-toggle="modal"
            data-bs-dismiss="modal">
            Delete selected accounts
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pagination Start -->
<div class="col-md-12">
  <nav>
    <ul class="pagination justify-content-center">
      <% if(page > 1) { %>
      <li class="page-item">
        <a class="page-link" href="javascript:moveToPage(<%= page - 1 %>);">Previous</a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
        <a class="page-link" href="" tabindex="-1">Previous</a>
      </li>
      <% } %>
      <% for(var i = 0; i < pages.length; i++) { %>
      <% if(pages[i] == page) { %>
      <li class="page-item active"><a class="page-link" href=""><%= page %></a></li>
      <% } else { %>
      <li class="page-item <% if (pages[i] == '...') {%> disabled <% } %>"><a class="page-link" href="javascript:moveToPage(<%= pages[i] %>);">
        <%= pages[i] %></a></li>
      <% } %>
      <% } %>
      <% if(page < pages[pages.length - 1]) { %>
      <li class="page-item">
        <a class="page-link" href="javascript:moveToPage(<%= page + 1 %>);">Next</a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
        <a class="page-link" href="">Next</a>
      </li>
      <% } %>
    </ul>
  </nav>
</div>
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-account" tabindex="-1"
  aria-labelledby="add-account" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="add-account-form" action="/admin/accounts/add" method="post">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5 mx-auto">
              <label>Userame:</label>
              <div>
                <input name="username" required></input>
              </div>
            </div>
            <div class="col-md-5 mx-auto">
              <label>E-mail</label>
              <div>
                <input name="email" required></input>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mx-auto">
              <label>First name</label>
              <div>
                <input name="firstname" required></input>
              </div>
            </div>
            <div class="col-md-5 mx-auto">
              <label>Last name</label>
              <div>
                <input name="lastname" required></input>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mx-auto">
              <label>Password:</label>
              <div>
                <input type="password" name="password" id="password" required>
              </div>
            </div>
            <div class="col-md-5 mx-auto">
              <label>Confirm Password:</label>
              <div>
                <input type="password" name="password2" id="password2" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mx-auto">
              <label>Address:</label>
              <input name="address" id="address" required>
            </div>
            <div class="col-md-5 mx-auto">
              <label>Country:</label>
              <input id="country" name="country" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mx-auto">
              <label>Gender:</label>
              <br>
              <select name="gender" id="gender" required>
                <option value="Select gebder" selected disabled>Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="col-md-5 mx-auto">
              <label>Birthday:</label>
              <input type="date" name="birthday" id="birthday" required>
            </div>
            <div class="row">
              <div class="col-md-11 mx-auto"><label id="err" style="color: red; font-weight: 300;"></label></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" onclick="toAJAX();" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="rem-account" tabindex="-1"
  aria-labelledby="rem-account" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remove-cat-title">Delete Accounts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4><b>Are you sure?</b></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
        <form id="rem-account-form" action="/admin/accounts/delete" method="post"
          onsubmit="return deleteAccounts(this);">
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function addOrderItemModal(elem) {
    option = document.createElement('option');
    e = document.getElementById('orderitem-select');
    q = document.getElementById('orderitem-quantity');
    items = document.getElementById('add-order-items');

    for (var i = 0; i < items.length; i++) {
      if (items.options[i].text.startsWith(e.options[e.selectedIndex].text)) {
        items.options[i].text = e.options[e.selectedIndex].text + ', ' + (parseInt(items.options[i].text.split(', ')[1]) + parseInt(q.value));
        items.options[i].value = e.options[e.selectedIndex].value + ', ' + items.options[i].text.split(', ')[1];
        return;
      }
    }

    option.text = e.options[e.selectedIndex].text + ', ' + q.value;
    option.value = e.options[e.selectedIndex].value + ', ' + q.value;
    option.selected = 'true'
    document.getElementById('add-order-items').add(option);
  }

  function toAJAX(form) {
    if (!checkPass())
      return false;
    
    $.ajax({
        type: "POST",
        url: "/admin/accounts/add",
        data: $("#add-account-form").serialize()
      }).done(function(data) {
        if (data.error)  {
          document.getElementById("err").innerHTML = data.error;
        }
        // Optionally alert the user of success here...
      }).fail(function(data) {
        // Optionally alert the user of an error here...
      });
  }

  function checkPass() {
    pass = document.getElementById('password').value
    pass2 = document.getElementById('password2').value

    if (pass != pass2) {
      document.getElementById('err').innerHTML = "Passwords don't match!"
      return false;
    }

    return true;
  }

  function deleteAccounts(elem) {
    var table = document.getElementById('table1');
    var ok = false;

    for (const inp of table.getElementsByTagName('input')) {
      if (!inp.checked)
        continue;

      var row = inp.parentElement.parentElement;
      var elems = row.getElementsByTagName('td');

      for (const elem of elems) {
        if ("id" in elem.dataset) {
          var id = elem.innerText.match(/\d+/)[0];
        }
      }

      input = document.createElement('input');
      input.hidden = 'hidden';
      input.type = 'number';
      input.defaultValue = id;
      input.name = 'id';
      document.getElementById('rem-account-form').appendChild(input);
      ok = true;
    }

    return ok;
  }

  function checkAccountFilter(form) {
    for (const elem of form.elements) {
      if (elem.value === '')
        elem.disabled = true;
    }
  }
</script>