<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height: 850px;">
        <h2 class="tm-block-title">Audit</h2>
        <div class="container">
          <form action="/admin/audit" method="get" onsubmit="checkAuditFilter(this);">
            <div class="row">
              <div class="col-sm-3">
                <input name="ordAfter" class="form-universal" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="From date" type="datetime-local" value="<%= filters.ordAfter %>"><br>
              </div>
              <div class="col-sm-3">
                <input name="ordBefore" class="form-universal" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="To date" type="datetime-local" value="<%= filters.ordBefore %>">
              </div>
              <div class="col-sm-3">
                <input class="form-universal" name="user" placeholder="Username" value="<%= filters['user'] %>">
              </div>
              <div class="col-sm-3">
                <select name="level" class="form-select">
                  <option value="-1" selected disabled>Select level:</option>
                  <% for(i in levels) { %>
                  <option value="<%= i %>" <% if (i == filters['level']) { %> selected <% } %>> <%= i %></option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
              <div class="col-sm-3">
                <select name="longmsg" id="longmsg" class="form-select">
                  <option value="-1" selected disabled>Long message</option>
                  <option value="1" <% if (filters.longmsg) { %> selected <% } %>>Show Long Message</option>
                  <option value="0" <% if (filters.longmsg === false) { %> selected <% } %>>Hide Long Message</option>
                </select>
              </div>
              <div class="col-sm-3">
                <select name="datetrunc" class="form-select">
                  <option value="-1" selected disabled>Group by timestamp:</option>
                  <option value="0" <% if (filters['datetrunc'] == '0') { %> selected <% } %>>Day</option>
                  <option value="1" <% if (filters['datetrunc'] == '1') { %> selected <% } %>>Week</option>
                  <option value="2" <% if (filters['datetrunc'] == '2') { %> selected <% } %>>Month</option>
                  <option value="3" <% if (filters['datetrunc'] == '3') { %> selected <% } %>>Year</option>
                </select>
              </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary text-uppercase">Filter</button>
                <a href="/admin/audit" class="btn btn-primary text-uppercase">Clear filters</a>
              </div>
            </div>
          </form>
        </div>
        <div class="tm-product-table-container">
          <table id="table1" class="table table-hover tm-table-small tm-product-table sortable">
            <thead>
              <tr>
                <th scope="col" class="clickable">TIMESTAMP</th>
                <th scope="col" class="clickable">LEVEL</th>
                <th scope="col" class="clickable">USER</th>
                <th scope="col" class="clickable">STAFF/USER</th>
                <th scope="col" class="clickable">MESSAGE</th>
                <% if (filters.longmsg) { %>
                <th scope="col" class="clickable">LONG MESSAGE</th>
                <% } if (filters.datetrunc !== '-1') { %>
                <th scope="col" class="clickable">COUNT</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% for(i = 0; i < report.length; i++) { %>
              <tr>
                <% if (filters.datetrunc !== -1) { %>
                <td><b><%= report[i].dataValues.timestamp.toLocaleString('en-GB') %></b></td>
                <% } else {%>
                <td><b><%= report[i].dataValues.t.toLocaleString('en-GB') %></b></td>
                <% } %>
                <td><%= report[i].dataValues.level %></td>
                <td><%= report[i].dataValues.user %></td>
                <% if (filters.datetrunc === -1) { %>
                <td></td>
                <% } else { %>
                <% if (report[i].dataValues.isStaff === true) { %>
                <td>STAFF</td>
                <% } else if (report[i].dataValues.isStaff === false) { %>
                <td>USER</td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } %>
                <td><%= report[i].dataValues.message %></td>
                <% if (filters.longmsg) { %>
                <td><%= report[i].dataValues.longMessage %></td>
                <% } if (filters.datetrunc !== '-1') { %>
                <td><%= report[i].dataValues.count %></td>
                <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pagination Start -->
<div class="col-md-12">
  <nav>
    <ul class="pagination justify-content-center">
      <% if(page > 1) { %>
      <li class="page-item">
        <a class="page-link" href="javascript:moveToPage(<%= page - 1 %>);">Previous</a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
        <a class="page-link" href="" tabindex="-1">Previous</a>
      </li>
      <% } %>
      <% for(var i = 0; i < pages.length; i++) { %>
      <% if(pages[i] == page) { %>
      <li class="page-item active"><a class="page-link" href=""><%= page %></a></li>
      <% } else { %>
      <li class="page-item <% if (pages[i] == '...') {%> disabled <% } %>"><a class="page-link" href="javascript:moveToPage(<%= pages[i] %>);">
        <%= pages[i] %></a></li>
      <% } %>
      <% } %>
      <% if(page < pages[pages.length - 1]) { %>
      <li class="page-item">
        <a class="page-link" href="javascript:moveToPage(<%= page + 1 %>);">Next</a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
        <a class="page-link" href="">Next</a>
      </li>
      <% } %>
    </ul>
  </nav>
</div>

<script>
  function checkAuditFilter(form) {
    for (const elem of form.elements) {
      if (elem.value === '')
        elem.disabled = true;
    }
  }
</script>