<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Edit Product #<%= product.id %></h2>
          </div>
        </div>
        <form id="edit-form" action="" enctype="multipart/form-data" onsubmit="return false;" method="post"
          class="tm-edit-product-form">
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <div class="form-group mb-3">
                <label for="name">Product Name
                </label>
                <input id="name" name="name" type="text" value="<%= product.name %>" class="form-control validate"
                  required />
              </div>
              <div class="form-group mb-3">
                <label for="price">Price (USD)</label>
                <input id="price" type="number" class="form-control validate" name="price" value="<%= product.price %>"
                  required>
              </div>
              <div class="form-group mb-3">
                <label for="add-image">Select image</label>
                <input id="add-image" type="file" class="btn btn-primary btn-block form-control validate" name="image"
                  value="<%= product.image %>" accept="image/*">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
              <div class="form-group mb-3">
                <label for="category">Category</label>
                <select class="custom-select tm-select-accounts" name="category" id="category" required>
                  <% for(i = 0; i < categories.length; i++) { %>
                  <option value="<%= categories[i].id %>" <% if(product.categoryId == categories[i].id) {%> selected <% } %> ><%= categories[i].name %>
                  </option>
                  <% } %>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="discount-price">Discount Price (USD)</label>
                <input id="discount-price" type="number" class="form-control validate" name="discount-price"
                  value="<%= product.discountPrice %>">
              </div>
              <div class="form-group mb-3">
                <label for="qty">Quantity</label>
                <input id="qty" type="number" name="quantity" class="form-control validate"
                  value="<%= product.quantity %>" required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control validate tm-small" rows="5"
                  placeholder="Description" style="min-height: 200px; height: 200px;"
                  required><%= product.description %></textarea>
              </div>
              <div class="form-group mb-3">
                <input type="checkbox" name="hide" id="hide" style="bottom: auto;top: 6px;margin-right: 5px;"
                <% if (product.hide) { %> checked <% } %>>
                <label for="hide">Hide</label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" data-bs-target="#update-product"
                data-bs-toggle="modal">Update</button>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="update-product" tabindex="-1"
  aria-labelledby="update-product" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update-product-title">Update product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4><b>Are you sure?</b></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
        <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" onclick="editProduct(this);">Update</button>
      </div>
    </div>
  </div>
</div>

<script>
  function editProduct(elem) {
    document.getElementById('edit-form').action = '/admin/products/edit/<%= product.id %>';
    document.getElementById('edit-form').submit();
  }
</script>