<style>
  .ui-autocomplete-loading {
    background: white url("/img/ui-anim_basic_16x16.gif") right center no-repeat;
  }
</style>
<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Edit Role #<%= role.id %></h2>
          </div>
        </div>
        <div class="">
          <div class="col-auto">
            <form id="edit-form" action="" onsubmit="return false;" method="post" class="tm-edit-role-form">
              <div class="form-group mb-3">
                <label for="role">Role
                </label>
                <input id="role" name="role" value="<%= role.name %>" class="form-control validate"
                  required />
              </div>
              <div class="form-group mb-3">
                <label for="edit-role-items">Permissions</label>
                <select class="form-control validate" id="edit-role-items" name="permissions" multiple
                  style="height: 150px;">
                  <% for(i = 0; i < permissions.length; i++) { %>
                  <option value="<%= permissions[i].id %>"><%= permissions[i].name %></option>
                  <% } %>
                </select><br>
                <div class="row">
                  <div class="col-xl-7 col-lg-6 col-md-12 mx-auto">
                    <button type="button" class="btn btn-primary" onclick="removeSelected();">Remove selected
                      items</button>
                  </div>
                  <div class="col-xl-5 col-lg-6 col-md-12 mx-auto text-end">
                    <button type="button" class="btn btn-primary" data-bs-target="#add-role-roleitem"
                      data-bs-toggle="modal">Add permission</button>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block" data-bs-target="#update-role"
              data-bs-toggle="modal">Update</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-role-roleitem" tabindex="-1"
  aria-labelledby="add-role-roleitem" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-roleitem-title">Add Permission</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Permission:</label>
        <div>
          <input name="permission" id="roleitem-permission">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-target="#add-role" data-bs-toggle="modal"
          data-bs-dismiss="modal" data-bs-dismiss="modal">Back</button>
        <button type="button" onclick="addRoleItemModal(this);" class="btn btn-primary"
          data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="update-role" tabindex="-1"
  aria-labelledby="update-role" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remove-role-title">Update Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4><b>Are you sure?</b></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
        <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" onclick="editRole(this);">Update</button>
      </div>
    </div>
  </div>
</div>

<script>
  var id = {};

  function removeSelected(elem) {
    var items = document.getElementById("edit-role-items");
    for (var i = 0; i < items.length; i++) {
      if (items.options[i].selected)
        items.remove(i);
    }
  }

  function addRoleItemModal(elem) {
    option = document.createElement('option');
    e = document.getElementById('roleitem-permission');
    items = document.getElementById('edit-role-items');

    if(!e.value)
      return;

    for (var i = 0; i < items.length; i++) {
      if (items.options[i].text.startsWith(e.value)) {
        items.options[i].text = e.value
        items.options[i].value = id[e.value]
        return;
      }
    }

    option.text = e.value
    option.value = id[e.value]
    option.selected = 'true'
    items.add(option);
  }

  function selectAll() {
    options = document.getElementById('edit-role-items').getElementsByTagName('option');
    for (i = 0; i < options.length; i++) {
      options[i].selected = 'true';
    }
  }

  function editRole(elem) {
    selectAll();
    document.getElementById('edit-form').action = '/admin/roles/edit/<%= role.id %>';
    document.getElementById('edit-form').submit();
  }

  var cache1 = {};
  $("#roleitem-permission").autocomplete({
    source: "/admin/permissions/get/",
    minLength: 2,
    source: function (request, response) {
      var term = request.term;
      if (term in cache1) {
        response(cache1[term]);
        return;
      }

      $.getJSON("/admin/permissions/get/", request, function (data, status, xhr) {
        cache1[term] = data;
        response(data);
      });
    },
    select: function(request, responce) {
      id[responce.item.value] = responce.item.id;
    }
  });
</script>