<% for(i in session.messages) { %>
  <% if(session.messages.hasOwnProperty(i)) { %>
    <% if(i=='targetgroupError' ) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>
          <%= session.dataValues.messages[i] %>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } if(i=='promotionCreated' ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong><%= session.dataValues.messages[i] %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } if(i=='promotionDeleted' ) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= session.dataValues.messages[i] %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <% } %>
  <% } %>
<% } %>
                    <style>
                      .ui-autocomplete-loading {
                        background: white url("/img/ui-anim_basic_16x16.gif") right center no-repeat;
                      }
                    </style>
                    <div class="container mt-5">
                      <div class="row tm-content-row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                          <div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height: 1000px;">
                            <h2 class="tm-block-title">Promotions</h2>
                            <div class="container">
                              <form action="/admin/promotions" method="get" onsubmit="checkPromotionsFilter(this);">
                                <div class="row" style="margin-bottom: 12px;">
                                  <div class="col-sm-4">
                                    <select name="status" id="status" class="form-select">
                                      <option value="" selected>Select status:</option>
                                      <% for(i=0;i<statuses.length;i++) { %>
                                        <option value="<%= i %>" <% if (i == filters['status']) { %>
                                          selected <% } %>><%= statuses[i] %>
                                        </option>
                                        <% } %>
                                    </select>
                                  </div>
                                  <div class="col-sm-4">
                                    <input id="name" name="name" class="form-select" style="background-image: none"
                                      placeholder="Promotion Name" value="<%= filters['name'] %>">
                                  </div>
                                  <div class="col-sm-4">
                                    <input id="targetName" name="targetName" class="form-select"
                                      style="background-image: none" placeholder="Target Group Name"
                                      value="<%= filters['targetName'] %>">
                                  </div>
                                </div>
                                <div class="row" style="margin-bottom: 12px;">
                                  <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary text-uppercase">Filter</button>
                                    <a href="/admin/promotions" class="btn btn-primary text-uppercase">Clear
                                      filters</a>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="tm-product-table-container">
                              <table id="table1" class="table table-hover tm-table-small tm-product-table sortable">
                                <thead>
                                  <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col" class="clickable">TIMESTAMP</th>
                                    <th scope="col" class="clickable">PROMOTION NO.</th>
                                    <th scope="col" class="clickable">STATUS</th>
                                    <th scope="col" class="clickable">NAME</th>
                                    <th scope="col" class="clickable">VALIDITY</th>
                                    <th scope="col" class="clickable">VALUE</th>
                                    <th scope="col" class="clickable">TARGET GROUP</th>
                                    <th scope="col" style="text-align: right;">ACTION</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for(i=0; i < promotions.length; i++) { %>
                                    <td>
                                      <input type="checkbox" />
                                    </td>
                                    <td>
                                      <b>
                                        <%= promotions[i].createdAt.toLocaleString('en-GB') %>
                                      </b>
                                    </td>
                                    <td data-id="<%= promotions[i].id %>">
                                      <b>
                                        #<%= promotions[i].id %>
                                      </b>
                                    </td>
                                    <td>
                                      <b>
                                        <%= statuses[promotions[i].status] %>
                                      </b>
                                    </td>
                                    <td>
                                      <b>
                                        <%= promotions[i].name %>
                                      </b>
                                    </td>
                                    <td>
                                      <b>
                                        <%= promotions[i].startDate + " - " + promotions[i].endDate %>
                                      </b>
                                    </td>
                                    <td style="text-align: right;">
                                      <b>
                                        <%= (await promotions[i].getVoucher()).value %>
                                      </b>
                                    </td>
                                    <td>
                                      <b>
                                        <%= (await promotions[i].getTargetgroup()).name %>
                                      </b>
                                    </td>
                                    <td style="text-align: right;">
                                      <a href="/admin/promotions/view/<%= promotions[i].id %>"
                                        class="tm-order-edit-link">
                                        <i class="fas fa-search tm-order-edit-icon"></i>
                                      </a>
                                    </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                              </table>
                            </div>
                            <!-- table container -->
                            <div class="d-grid gap-2">
                              <a class="btn btn-primary text-uppercase mb-3" data-bs-target="#add-promotion"
                                data-bs-toggle="modal">
                                Add new Promotion
                              </a>
                              <button class="btn btn-primary text-uppercase" data-bs-target="#rem-promotion"
                                data-bs-toggle="modal" data-bs-dismiss="modal">
                                Delete selected Promotions
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Pagination Start -->
                    <div class="col-md-12">
                      <nav>
                        <ul class="pagination justify-content-center">
                          <% if(page> 1) { %>
                            <li class="page-item">
                              <a class="page-link" href="javascript:moveToPage(<%= page - 1 %>);">Previous</a>
                            </li>
                            <% } else { %>
                              <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1">Previous</a>
                              </li>
                              <% } %>
                                <% for(var i=0; i < pages.length; i++) { %>
                                  <% if(pages[i]==page) { %>
                                    <li class="page-item active"><a class="page-link" href="">
                                        <%= page %>
                                      </a></li>
                                    <% } else { %>
                                      <li class="page-item <% if (pages[i] == '...') { %> disabled <% } %>"><a
                                          class="page-link" href="javascript:moveToPage(<%= pages[i] %>);">
                                          <%= pages[i] %>
                                        </a></li>
                                      <% } %>
                                        <% } %>
                                          <% if(page < pages[pages.length - 1]) { %>
                                            <li class="page-item">
                                              <a class="page-link"
                                                href="javascript:moveToPage(<%= page + 1 %>);">Next</a>
                                            </li>
                                            <% } else { %>
                                              <li class="page-item disabled">
                                                <a class="page-link" href="">Next</a>
                                              </li>
                                              <% } %>
                        </ul>
                      </nav>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="rem-promotion"
                      tabindex="-1" aria-labelledby="rem-promotion" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="remove-cat-title">Delete Target Groups</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h4><b>Are you sure?</b></h4>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                            <form id="rem-promotion-form" action="/admin/promotion/delete" method="post"
                              onsubmit="return deletepromotions(this);">
                              <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-promotion"
                      tabindex="-1" aria-labelledby="add-promotion" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Add Promotion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form id="add-promotion-form" action="/admin/promotion/add" method="post">
                            <input type="hidden" name="isAJAX" value="ajax">
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-5 mx-auto">
                                  <label>Name:</label>
                                  <div class="ui-widget">
                                    <input style="height: 30px; width: 100%;" name="name" id="name">
                                  </div>
                                </div>
                                <div class="col-md-5 mx-auto">
                                  <div class="ui-widget">
                                    <label>Target group:</label>
                                    <select style="height: 30px; width: 100%;" id="add-promotion-targetgroups" name="targetgroup">
                                      <option value="Select target group:" selected disabled>Select target group:
                                      </option>
                                      <% for (i=0; i < targetgroups.length; i++) { %>
                                        <option value="<%= targetgroups[i].id %>">
                                          <%= targetgroups[i].name %>
                                        </option>
                                        <% } %>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-5 mx-auto">
                                  <label>Start date:</label>
                                  <div class="ui-widget">
                                    <input style="height: 30px; width: 100%;" type="date" name="startDate" id="startDate" onchange="changeMinOfEndDate(this);" min="<%= new Date().toLocaleDateString('fr-CA') %>">
                                  </div>
                                </div>
                                <div class="col-md-5 mx-auto">
                                  <label>End date:</label>
                                  <div class="ui-widget">
                                    <input style="height: 30px; width: 100%;" type="date" name="endDate" id="endDate" min="<%= new Date().toLocaleDateString('fr-CA') %>" onchange="changeMaxOfStartDate(this);">
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <label>Voucher:</label><br>
                              <div class="row">
                                <div class="col-md-5 mx-auto">
                                  <label>Voucher value:</label>
                                  <div class="ui-widget">
                                    <input style="height: 30px; width: 100%;" type="number" name="voucherValue" id="voucherValue">
                                  </div>
                                </div>
                                <div class="col-md-5 mx-auto">
                                  <label>Voucher End date:</label>
                                  <div class="ui-widget">
                                    <input style="height: 30px; width: 100%;" type="date" name="voucherEndDate" id="voucherEndDate" min="<%= new Date().toLocaleDateString('fr-CA') %>" onchange="onVoucherEnd(this);">
                                  </div>
                                </div>
                              </div>
                              <label id="err" style="color: red; font-weight: 300;"></label>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" onclick="toAJAX();">Add</button>
                            </div>
                        </div>
                        </form>
                      </div>
                    </div>
                    <script>
                      function deletepromotions(elem) {
                        var table = document.getElementById('table1');
                        var ok = false;

                        for (const inp of table.getElementsByTagName('input')) {
                          if (!inp.checked)
                            continue;

                          var row = inp.parentElement.parentElement;
                          var elems = row.getElementsByTagName('td');

                          for (const elem of elems) {
                            if ("id" in elem.dataset) {
                              var id = elem.innerText.match(/\d+/)[0];
                            }
                          }

                          input = document.createElement('input');
                          input.hidden = 'hidden';
                          input.type = 'number';
                          input.defaultValue = id;
                          input.name = 'id';
                          document.getElementById('rem-promotion-form').appendChild(input);
                          ok = true;
                        }

                        return ok;
                      }

                      function toAJAX() {
                        $.ajax({
                          type: "POST",
                          url: "/admin/promotion/add",
                          data: $("#add-promotion-form").serialize(),
                          dataType: "json",
                          headers: {
                            Accept: "application/json"
                          },
                        }).done(function (data) {
                          if (data.error) {
                            document.getElementById("err").innerHTML = data.error;
                          } else if (data.ok) {
                            window.location.reload();
                          }
                        }).fail(function (data) { });
                      }

                      function checkPromotionsFilter(form) {
                        for (const elem of form.elements) {
                          if (elem.value === '')
                            elem.disabled = true;
                        }
                      }

                      function changeMinOfEndDate(elem) {
                        document.getElementById('endDate').min = document.getElementById('startDate').value;
                      }

                      function changeMaxOfStartDate(elem) {
                        document.getElementById('startDate').max = document.getElementById('endDate').value;
                        document.getElementById('voucherEndDate').min = document.getElementById('endDate').value;
                      }

                      function onVoucherEnd(elem) {
                        document.getElementById('endDate').max = document.getElementById('voucherEndDate').value;
                      }
                    </script>