<% for(i in session.messages) { %>
  <% if(session.messages.hasOwnProperty(i)) { %>
    <% if(i=='targetgroupExists' ) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Order already exists!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } if(i=='targetGroupOK' ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong><%= session.dataValues.messages[i] %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } if(i=='targetgroupDeleted' ) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Selected targetgroups are deleted!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } if(i=='targetgroupEdited' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Order is edited!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } if(i=='targetgroupNotEnoughQty' ) { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Some of the product/s does not have enough quantity/ies!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>
                <% } %>
                  <% } %>
                    <style>
                      .ui-autocomplete-loading {
                        background: white url("/img/ui-anim_basic_16x16.gif") right center no-repeat;
                      }
                    </style>
                    <div class="container mt-5">
                      <div class="row tm-content-row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                          <div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height: 1000px;">
                            <h2 class="tm-block-title">Add Target Group</h2>
                            <div class="container">
                              <form id="filters-form" action="/admin/promotions/targetgroup/add" method="get"
                                onsubmit="checkTargetgroupsFilter(this);">
                                <input type="hidden" name="name" id="targetName">
                                <div class="row" style="margin-bottom: 12px;">
                                  <div class="col-sm-3">
                                    <input id="userID" name="userID" class="form-select" type="number"
                                      style="background-image: none" placeholder="User ID"
                                      value="<%= filters['userID'] %>">
                                  </div>
                                  <div class="col-sm-3">
                                    <input id="firstName" name="firstName" class="form-select"
                                      style="background-image: none" placeholder="First name"
                                      value="<%= filters['firstName'] %>">
                                  </div>
                                  <div class="col-sm-3">
                                    <input id="lastName" name="lastName" class="form-select"
                                      style="background-image: none" placeholder="Last name"
                                      value="<%= filters['lastName'] %>">
                                  </div>
                                  <div class="col-sm-3">
                                    <select class="form-select" id="gender" name="gender" id="gender">
                                      <option value="" selected>Select gender</option>
                                      <option value="Male" <% if (filters['gender']==='Male' ) { %> selected <% } %>
                                          >Male</option>
                                      <option value="Female" <% if (filters['gender']==='Female' ) { %> selected <% } %>
                                          >Female</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <select class="form-select" id="country" name="country">
                                      <option value="" selected>Select country</option>
                                      <% for (i=0;i<countries.length;i++) { %>
                                        <option value="<%= countries[i] %>" <% if (filters['country']===countries[i] ) { %> selected <% } %>
                                          ><%= countries[i] %></option>
                                      <% } %>
                                    </select>
                                  </div>
                                  <div class="col-sm-3">
                                    <input id="birthday" name="birthday" class="form-universal"
                                      data-bs-toggle="tooltip" data-bs-placement="top" title="Birthday MM/DD format"
                                      value="<%= filters['birthday'] %>" pattern="^\d{2}/\d{2}$" placeholder="Birthday MM/DD format"><br>
                                  </div>
                                </div>
                                <div class="row" style="margin-bottom: 12px;">
                                  <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary text-uppercase">Filter</button>
                                    <a href="/admin/promotions/targetgroup/add"
                                      class="btn btn-primary text-uppercase">Clear
                                      filters</a>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="tm-product-table-container">
                              <table id="table1" class="table table-hover tm-table-small tm-product-table sortable">
                                <thead>
                                  <tr>
                                    <th scope="col" class="clickable">TIMESTAMP</th>
                                    <th scope="col" class="clickable">ACCOUNT NO.</th>
                                    <th scope="col" class="clickable">USERNAME</th>
                                    <th scope="col" class="clickable">FULL NAME</th>
                                    <th scope="col" class="clickable">COUNTRY</th>
                                    <th scope="col" class="clickable">ADDRESS</th>
                                    <th scope="col" class="clickable">EMAIL</th>
                                    <th scope="col" class="clickable">VERIFIED</th>
                                    <th scope="col" class="clickable">GENDER</th>
                                    <th scope="col" class="clickable">BIRTHDAY</th>
                                    <th scope="col" class="clickable">LAST LOGIN</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for (i=0; i < users.length; i++) { %>
                                    <tr>
                                      <td><b>
                                          <%= users[i].createdAt.toLocaleString('en-GB') %>
                                        </b></td>
                                      <td data-id="<%= users[i].id %>"><b>#<%= users[i].id %></b></td>
                                      <td><b>
                                          <%= users[i].username %>
                                        </b></td>
                                      <td><b>
                                          <%= users[i].firstName + ' ' + users[i].lastName %>
                                        </b></td>
                                      <td><b>
                                          <%= users[i].country %>
                                        </b></td>
                                      <td><b>
                                          <%= users[i].address %>
                                        </b></td>
                                      <td><b>
                                          <%= users[i].email %>
                                        </b></td>
                                      <% if (users[i].emailConfirmed) { %>
                                        <td><b>Yes</b></td>
                                      <% } else { %>
                                        <td><b>No</b></td>
                                      <% } %>
                                      <td><b>
                                        <%= users[i].gender %>
                                      </b></td>
                                      <td><b>
                                        <%= users[i].birthday %>
                                      </b></td>
                                      <% if (users[i].lastLogin) { %>
                                        <td><b>
                                          <%= users[i].lastLogin.toLocaleString('en-GB') %>
                                        </b></td>
                                      <% } else { %>
                                        <td><b></b></td>
                                      <% } %>
                                    </tr>
                                    <% } %>
                                </tbody>
                              </table>
                            </div>
                            <!-- table container -->
                            <div class="d-grid gap-2">
                              <a href="#" class="btn btn-primary text-uppercase mb-3" data-bs-target="#add-targetgroup"
                                data-bs-toggle="modal" data-bs-dismiss="modal">Add new Target Group</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Pagination Start -->
                    <div class="col-md-12">
                      <nav>
                        <ul class="pagination justify-content-center">
                          <% if(page> 1) { %>
                            <li class="page-item">
                              <a class="page-link" href="javascript:moveToPage(<%= page - 1 %>);">Previous</a>
                            </li>
                            <% } else { %>
                              <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1">Previous</a>
                              </li>
                              <% } %>
                                <% for(var i=0; i < pages.length; i++) { %>
                                  <% if(pages[i]==page) { %>
                                    <li class="page-item active"><a class="page-link" href="">
                                        <%= page %>
                                      </a></li>
                                    <% } else { %>
                                      <li class="page-item <% if (pages[i] == '...') { %> disabled <% } %>"><a
                                          class="page-link" href="javascript:moveToPage(<%= pages[i] %>);">
                                          <%= pages[i] %>
                                        </a></li>
                                      <% } %>
                                        <% } %>
                                          <% if(page < pages[pages.length - 1]) { %>
                                            <li class="page-item">
                                              <a class="page-link"
                                                href="javascript:moveToPage(<%= page + 1 %>);">Next</a>
                                            </li>
                                            <% } else { %>
                                              <li class="page-item disabled">
                                                <a class="page-link" href="">Next</a>
                                              </li>
                                              <% } %>
                        </ul>
                      </nav>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-targetgroup-name"
                      tabindex="-1" aria-labelledby="add-targetgroup-name" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="add-targetgroup-title">Please enter the targetgroup name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-primary"
                              onclick="submitForm();">Add</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-targetgroup"
                      tabindex="-1" aria-labelledby="add-targetgroup" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="add-targetgroup-title">Add new target group</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h6><b>Do you want to add new target group with the following filters:</b></h6>
                            <ul>
                              <li id="add-targetgroup-nofilters-li" hidden>No Filters</li>
                              <li id="add-targetgroup-userid-li" hidden>User ID:</li>
                              <li id="add-targetgroup-firstName-li" hidden>First name:</li>
                              <li id="add-targetgroup-lastName-li" hidden>Last name:</li>
                              <li id="add-targetgroup-gender-li" hidden>Gender:</li>
                              <li id="add-targetgroup-birthday-li" hidden>Birthday (MM/DD):</li>
                              <li id="add-targetgroup-country-li" hidden>Country:</li>
                            </ul>
                            <hr>
                            <div style="display: flex; justify-content: space-between;">
                              <label>Enter target group name:</label>
                              <input type="text" id="targetgroup-name" required>
                            </div>
                            <label id="err" style="color: red;"></label>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                            <button type="button" class="btn btn-primary" onclick="submitForm();">Add</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <script>
                      var addTargetgroup = document.getElementById('add-targetgroup');

                      addTargetgroup.addEventListener('hidden.bs.modal', function (event) {
                        document.getElementById("err").innerHTML = null;
                      });

                      addTargetgroup.addEventListener('show.bs.modal', function (event) {
                        let atleastOneFilter = false;

                        let nofiltersli = document.getElementById('add-targetgroup-nofilters-li');
                        let useridli = document.getElementById('add-targetgroup-userid-li');
                        let firstNameli = document.getElementById('add-targetgroup-firstName-li');
                        let lastNameli = document.getElementById('add-targetgroup-lastName-li');
                        let genderli = document.getElementById('add-targetgroup-gender-li');
                        let birthdayli = document.getElementById('add-targetgroup-birthday-li');
                        let countryli = document.getElementById('add-targetgroup-country-li');

                        if (document.getElementById('userID').value !== '') {
                          useridli.innerHTML = "User ID: " + document.getElementById('userID').value;

                          useridli.hidden = null;
                          atleastOneFilter = true;
                        }

                        if (document.getElementById('firstName').value !== '') {
                          firstNameli.innerHTML = "First name: " + document.getElementById('firstName').value;

                          firstNameli.hidden = null;
                          atleastOneFilter = true;
                        }

                        if (document.getElementById('lastName').value !== '') {
                          lastNameli.innerHTML = "Last name: " + document.getElementById('lastName').value;

                          lastNameli.hidden = null;
                          atleastOneFilter = true;
                        }

                        if (document.getElementById('gender').value !== '') {
                          genderli.innerHTML = "Gender: " + document.getElementById('gender').value;

                          genderli.hidden = null;
                          atleastOneFilter = true;
                        }

                        if (document.getElementById('birthday').value !== '') {
                          birthdayli.innerHTML = "Birthday (MM/DD): " + document.getElementById('birthday').value;

                          birthdayli.hidden = null;
                          atleastOneFilter = true;
                        }

                        if (document.getElementById('country').value !== '') {
                          countryli.innerHTML = "Country: " + document.getElementById('country').value;

                          countryli.hidden = null;
                          atleastOneFilter = true;
                        }

                        if (!atleastOneFilter) {
                          nofiltersli.innerHTML = "No filters";
                          nofiltersli.hidden = null;
                        } else {
                          nofiltersli.hidden = "hidden";
                        }
                      });

                      function checkTargetgroupsFilter(form, value = true) {
                        for (const elem of form.elements) {
                          if (elem.value === '')
                            elem.disabled = value;
                        }
                      }

                      function submitForm() {
                        checkTargetgroupsFilter(document.getElementById("filters-form"), false);

                        document.getElementById('targetName').value = document.getElementById('targetgroup-name').value;

                        $.ajax({
                          type: "POST",
                          url: "/admin/promotions/targetgroup/add",
                          data: $("#filters-form").serialize(),
                          dataType: "json",
                          headers: {
                            Accept: "application/json"
                          },
                        }).done(function (data, textStatus, jqXHR) {
                          if (data.error) {
                            document.getElementById("err").innerHTML = data.error;
                          } else if (data.ok) {
                            window.location.pathname = "/admin/promotions/targetgroups";
                          }
                        }).fail(function (data) {
                          document.getElementById("err").innerHTML = 'There was an error while adding target group. Please try again later.';
                        });
                      }
                    </script>