<% for(i in session.messages) { %>
  <% if(session.messages.hasOwnProperty(i)) { %>
    <% if(i=='targetgroupError' ) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>
          <%= session.dataValues.messages[i] %>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } if(i=='targetGroupOK' ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
            <%= session.dataValues.messages[i] %>
          </strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } if(i=='targetgroupDeleted' ) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Selected targetgroups are deleted!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } if(i=='targetgroupEdited' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Order is edited!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } if(i=='targetgroupNotEnoughQty' ) { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Some of the product/s does not have enough quantity/ies!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>
                <% } %>
                  <% } %>
                    <style>
                      .ui-autocomplete-loading {
                        background: white url("/img/ui-anim_basic_16x16.gif") right center no-repeat;
                      }
                    </style>
                    <div class="container mt-5">
                      <div class="row tm-content-row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                          <div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height: 1000px;">
                            <h2 class="tm-block-title">Target Group <%= targetgroup.name %></h2>
                            <div class="container">
                              <form id="filters-form" action="/admin/promotion/targetgroup/view/<%= targetgroup.id %>"
                                method="get" onsubmit="checkTargetgroupsFilter(this);">
                                <div class="row" style="margin-bottom: 12px;">
                                  <div class="col-sm-3">
                                    <input id="userID" name="userID" class="form-select" type="number"
                                      style="background-image: none" placeholder="User ID"
                                      value="<%= filters['userID'] %>">
                                  </div>
                                  <div class="col-sm-3">
                                    <input id="firstName" name="firstName" class="form-select"
                                      style="background-image: none" placeholder="First name"
                                      value="<%= filters['firstName'] %>">
                                  </div>
                                  <div class="col-sm-3">
                                    <input id="lastName" name="lastName" class="form-select"
                                      style="background-image: none" placeholder="Last name"
                                      value="<%= filters['lastName'] %>">
                                  </div>
                                  <div class="col-sm-3">
                                    <select class="form-select" id="gender" name="gender" id="gender">
                                      <option value="" selected>Select gender</option>
                                      <option value="Male" <% if (filters['gender']==='Male' ) { %> selected <% } %>
                                          >Male</option>
                                      <option value="Female" <% if (filters['gender']==='Female' ) { %> selected <% } %>
                                          >Female</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <select class="form-select" id="country" name="country">
                                      <option value="" selected>Select country</option>
                                      <% for (i=0;i<countries.length;i++) { %>
                                        <option value="<%= countries[i] %>" <% if (filters['country']===countries[i] ) { %> selected <% } %>
                                          ><%= countries[i] %></option>
                                      <% } %>
                                    </select>
                                  </div>
                                  <div class="col-sm-3">
                                    <input id="birthAfter" name="birthAfter" class="form-universal"
                                      data-bs-toggle="tooltip" data-bs-placement="top" title="From birthday"
                                      type="datetime-local" value="<%= filters['birthAfter'] %>"><br>
                                  </div>
                                  <div class="col-sm-3">
                                    <input id="birthBefore" name="birthBefore" class="form-universal"
                                      data-bs-toggle="tooltip" data-bs-placement="top" title="To birthday"
                                      type="datetime-local" value="<%= filters['birthBefore'] %>">
                                  </div>
                                </div>
                                <div class="row" style="margin-bottom: 12px;">
                                  <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary text-uppercase">Filter</button>
                                    <a href="/admin/promotion/targetgroup/view/<%= targetgroup.id %>"
                                      class="btn btn-primary text-uppercase">Clear
                                      filters</a>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="tm-product-table-container">
                              <table id="table1" class="table table-hover tm-table-small tm-product-table sortable">
                                <thead>
                                  <tr>
                                    <th scope="col" class="clickable">TIMESTAMP</th>
                                    <th scope="col" class="clickable">ACCOUNT NO.</th>
                                    <th scope="col" class="clickable">USERNAME</th>
                                    <th scope="col" class="clickable">FULL NAME</th>
                                    <th scope="col" class="clickable">COUNTRY</th>
                                    <th scope="col" class="clickable">ADDRESS</th>
                                    <th scope="col" class="clickable">EMAIL</th>
                                    <th scope="col" class="clickable">VERIFIED</th>
                                    <th scope="col" class="clickable">GENDER</th>
                                    <th scope="col" class="clickable">BIRTHDAY</th>
                                    <th scope="col" class="clickable">LAST LOGIN</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for (i=0; i < targetgroupusers.length; i++) { %>
                                    <tr>
                                      <td><b>
                                          <%= targetgroupusers[i].createdAt.toLocaleString('en-GB') %>
                                        </b></td>
                                      <td data-id="<%= targetgroupusers[i].id %>"><b>#<%= targetgroupusers[i].id %></b>
                                      </td>
                                      <td><b>
                                          <%= targetgroupusers[i].username %>
                                        </b></td>
                                      <td><b>
                                          <%= targetgroupusers[i].firstName + ' ' + targetgroupusers[i].lastName %>
                                        </b></td>
                                      <td><b>
                                          <%= targetgroupusers[i].country %>
                                        </b></td>
                                      <td><b>
                                          <%= targetgroupusers[i].address %>
                                        </b></td>
                                      <td><b>
                                          <%= targetgroupusers[i].email %>
                                        </b></td>
                                      <% if (targetgroupusers[i].emailConfirmed) { %>
                                        <td><b>Yes</b></td>
                                        <% } else { %>
                                          <td><b>No</b></td>
                                          <% } %>
                                            <td><b>
                                                <%= targetgroupusers[i].gender %>
                                              </b></td>
                                            <td><b>
                                                <%= targetgroupusers[i].birthday %>
                                              </b></td>
                                            <% if (targetgroupusers[i].lastLogin) { %>
                                              <td><b>
                                                  <%= targetgroupusers[i].lastLogin.toLocaleString('en-GB') %>
                                                </b></td>
                                              <% } else { %>
                                                <td><b></b></td>
                                                <% } %>
                                    </tr>
                                    <% } %>
                                </tbody>
                              </table>
                            </div>
                            <!-- table container -->
                            <div class="d-grid gap-2">
                              <button class="btn btn-primary text-uppercase" data-bs-target="#show-targetgroup-filters"
                                data-bs-toggle="modal">
                                Show Target Group filters
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Pagination Start -->
                    <div class="col-md-12">
                      <nav>
                        <ul class="pagination justify-content-center">
                          <% if(page> 1) { %>
                            <li class="page-item">
                              <a class="page-link"
                                href="javascript:moveToPage(<%= page - 1 %>, '<%= targetgroup.id %>');">Previous</a>
                            </li>
                            <% } else { %>
                              <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1">Previous</a>
                              </li>
                              <% } %>
                                <% for(var i=0; i < pages.length; i++) { %>
                                  <% if(pages[i]==page) { %>
                                    <li class="page-item active"><a class="page-link" href="">
                                        <%= page %>
                                      </a></li>
                                    <% } else { %>
                                      <li class="page-item <% if (pages[i] == '...') { %> disabled <% } %>"><a
                                          class="page-link"
                                          href="javascript:moveToPage(<%= pages[i] %>, '<%= targetgroup.id %>');">
                                          <%= pages[i] %>
                                        </a></li>
                                      <% } %>
                                        <% } %>
                                          <% if(page < pages[pages.length - 1]) { %>
                                            <li class="page-item">
                                              <a class="page-link"
                                                href="javascript:moveToPage(<%= page + 1 %>, '<%= targetgroup.id %>');">Next</a>
                                            </li>
                                            <% } else { %>
                                              <li class="page-item disabled">
                                                <a class="page-link" href="">Next</a>
                                              </li>
                                              <% } %>
                        </ul>
                      </nav>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="show-targetgroup-filters"
                      tabindex="-1" aria-labelledby="show-targetgroup-filters" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="remove-cat-title">Target Groups Filters</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h4><b>Filters:</b></h4>
                            <ul>
                              <% let c = true; for (i in targetgroupfilters) c = false; if (c) { %>
                              <li id="add-targetgroup-userid-li">None</li>
                              <% } %>
                              <li id="add-targetgroup-userid-li" <% if (!targetgroupfilters.id) { %> hidden <% } %>>User ID: <%= targetgroupfilters.id %></li>
                              <li id="add-targetgroup-firstName-li" <% if (!targetgroupfilters.firstName) { %> hidden <% } %>>First name: <%= targetgroupfilters.firstName %></li>
                              <li id="add-targetgroup-lastName-li" <% if (!targetgroupfilters.lastName) { %> hidden <% } %>>Last name: <%= targetgroupfilters.lastName %></li>
                              <li id="add-targetgroup-gender-li" <% if (!targetgroupfilters.gender) { %> hidden <% } %>>Gender: <%= targetgroupfilters.gender %></li>
                              <li id="add-targetgroup-birthAfter-li" <% if (!targetgroupfilters.birthAfter) { %> hidden <% } %>>Birthday from: <%= targetgroupfilters.birthAfter %></li>
                              <li id="add-targetgroup-birthBefore-li" <% if (!targetgroupfilters.birthBefore) { %> hidden <% } %>>Birthday to: <%= targetgroupfilters.birthBefore %></li>
                              <li id="add-targetgroup-country-li" <% if (!targetgroupfilters.country) { %> hidden <% } %>>Country: <%= targetgroupfilters.country %></li>
                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <script>
                      function checkTargetgroupsFilter(form, value = true) {
                        for (const elem of form.elements) {
                          if (elem.value === '')
                            elem.disabled = value;
                        }
                      }
                    </script>