{% extends 'ecom/base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
{% if message|stringformat:'s' == 'cart_error' %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
    <div>
        There was error while processing your action!
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                {% for i in items %}
                                {% for item in i.get_items %}
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="/product-detail/{{ item.product.id }}"><img src="{{ item.product.image.url }}" alt="Image"></a>
                                            <p>{{ item.product.name }}</p>
                                        </div>
                                    </td>
                                    {% if item.product.discount_price != item.price %}
                                    <td>{{ item.product.discount_price }}$</td>
                                    {% else %}
                                    <td>{{ item.product.price }}$</td>
                                    {% endif %}
                                    <td>
                                        <div class="qty">
                                            <form id="removeOCart" action="/remove-from-cart/" style="display: inline;" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ item.id }}" name="orderid" style="display: inline;">
                                                <input id="removeOCartQty" type="hidden" value="1" name="quantity" style="display: inline;">
                                                <button class="btn-minus" style="display: inline;" type="submit"><i class="fa fa-minus"></i></button>
                                            </form>
                                            <input id="qtyNum" data-max="{{ item.product.quantity }}" type="text" value="{{ item.quantity }}" disabled>
                                            <button class="btn-plus" onclick="javascript:addToCart({{ item.product.id }}, 1, true)"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <td>{{ item.get_total }}$</td>
                                    <td><form id="removeCart" action="/remove-from-cart/" style="display: inline;" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ item.id }}" name="orderid" style="display: inline;">
                                        <input id="removeCartQty" type="hidden" value="-1" name="quantity" style="display: inline;">
                                        <button type="submit" style="display: inline;"><i class="fa fa-trash"></i></button>
                                    </form></td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input type="text" placeholder="Coupon Code">
                                <button>Apply Code</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    {% if items %}
                                    <p>Sub Total<span>{{ items.0.get_total }}$</span></p>
                                    <p>Shipping Cost<span>0$</span></p>
                                    <h2>Grand Total<span>{{ items.0.get_total }}$</span></h2>
                                    {% else %}
                                    <p>Sub Total<span>0$</span></p>
                                    <p>Shipping Cost<span>0$</span></p>
                                    <h2>Grand Total<span>0$</span></h2>
                                    {% endif %}
                                </div>
                                <div class="cart-btn">
                                    <button onclick="javascript:window.location.href = '/products/';">Update Cart</button>
                                    <button onclick="javascript:window.location.href = '/checkout/';">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
{% endblock %}