<div class="container tm-mt-big tm-mb-big">
  <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
    <form method="post">
      <div class="row">
        <div class="col mx-auto d-flex justify-content-center align-items-center">
          <label style="color: white; margin-right: 10px;">Number of elements per page:</label>
          <input type="number" name="pagint" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Number of elements per page" value="<%= settings.elements_per_page %>"
            min="1" max="1000">
        </div>
        <div class="col mx-auto d-flex justify-content-end">
          <button class="btn btn-primary btn-block text-uppercase" type="submit">Change</button>
        </div>
      </div>
    </form>
    <form method="post">
      <div class="row mt-3">
        <div class="col mx-auto d-flex justify-content-center align-items-center">
          <label style="color: white; margin-right: 10px;">Session expire time in minutes:</label>
          <input type="number" name="expire" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Number of elements per page" value="<%= settings.backoffice_expire %>"
            min="0" max="1440">
        </div>
        <div class="col mx-auto d-flex justify-content-end">
          <button class="btn btn-primary btn-block text-uppercase" type="submit">Change</button>
        </div>
      </div>
    </form>
    <hr style="color: white;">
    <div class="row mt-3">
      <div class="col mx-auto d-flex justify-content-center">
        <form action="/logs/error.log">
          <button class="btn btn-primary btn-block text-uppercase" type="submit">Go to Error Log</button>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col mx-auto d-flex justify-content-center">
        <form action="/logs/fullerror.log">
          <button class="btn btn-primary btn-block text-uppercase" type="submit">Go to Full Error Log</button>
        </form>
      </div>
    </div>
  </div>
</div>