{% extends 'admin1/base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
{% if message|stringformat:'s' == 'order_exists' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Order already exists!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if message|stringformat:'s' == 'order_created' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Order is created!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if message|stringformat:'s' == 'order_deleted' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Selected orders are deleted!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if message|stringformat:'s' == 'order_edited' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Order is edited!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if message|stringformat:'s' == 'order_not_enough_qty' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Some of the product/s does not have enough quantity/ies!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height: 850px;">
        <h2 class="tm-block-title">Orders</h2>
        <div class="container">
          <form action="/administration/orders/" method="get" onsubmit="checkOrderFilter(this);">
            <div class="row">
              <div class="col">
                <select name="stat" class="form-select">
                  <option value="-1" selected disabled>Select status:</option>
                  {% for key, stat in statuses.items %}
                  <option value="{{ key }}">{{ stat }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-3">
                <input name="user" class="form-select" style="background-image: none" placeholder="User">
              </div>
              <div class="col-sm-3">
                <input name="ord-after" class="form-universal" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Ordered after" type="datetime-local">
              </div>
              <div class="col-sm-3">
                <input name="ord-before" class="form-universal" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Ordered before" type="datetime-local"><br>
              </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary text-uppercase">Filter</button>
                <a href="/administration/orders/" class="btn btn-primary text-uppercase">Clear filters</a>
              </div>
            </div>
          </form>
        </div>
        <div class="tm-product-table-container">
          <table id="table1" class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">TIMESTAMP</th>
                <th scope="col">ORDER NO.</th>
                <th scope="col">STATUS</th>
                <th scope="col">NAME</th>
                <th scope="col">COUNTRY</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">TOTAL PRICE</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td><b>{{ item.ordered_at }}</b></td>
                <td data-id="{{ item.id }}"><b>#{{ item.id }}</b></td>
                <td>
                  {% if item.status|stringformat:'s' == '1' %}
                  <div class="tm-status-circle pending"></div>
                  {% elif item.status|stringformat:'s' == '2' %}
                  <div class="tm-status-circle moving"></div>
                  {% elif item.status|stringformat:'s' == '3' %}
                  <div class="tm-status-circle cancelled"></div>
                  {% elif item.status|stringformat:'s' == '4' %}
                  <div class="tm-status-circle cancelled"></div>
                  {% elif item.status|stringformat:'s' == '5' %}
                  <div class="tm-status-circle moving"></div>
                  {% endif %}
                  {{ item.get_status_display }}
                </td>
                <td><b>{{ item.user.user.first_name|add:' '|add:item.user.user.last_name }}</b></td>
                <td><b>{{ item.user.country }}</b></td>
                <td><b>{{ item.user.address }}</b></td>
                <td style="text-align: right;"><b>{{ item.get_total }} $</b></td>
                <td><a href="/administration/orders/edit/{{ item.id }}/" class="tm-order-edit-link">
                    <i class="far fa-edit tm-order-edit-icon"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <div class="d-grid gap-2">
          <a href="#" class="btn btn-primary text-uppercase mb-3" data-bs-target="#add-order" data-bs-toggle="modal"
            data-bs-dismiss="modal">Add new order</a>
          <button class="btn btn-primary text-uppercase" data-bs-target="#rem-order" data-bs-toggle="modal"
            data-bs-dismiss="modal">
            Delete selected orders
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pagination Start -->
{% if paginator %}
<div class="col-md-12">
  <nav>
    <ul class="pagination justify-content-center">
      {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="javascript:moveToPage({{ page.number|add:'-1'}});">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="" tabindex="-1">Previous</a>
      </li>
      {% endif %}
      {% for pag in pages %}
      {% if page.number|stringformat:'s' == pag|stringformat:'s' %}
      <li class="page-item active"><a class="page-link" href="">{{ pag }}</a></li>
      {% else %}
      <li class="page-item {% if '...' == pag|stringformat:'s' %}disabled{% endif %}"><a class="page-link" href="javascript:moveToPage({{ pag }});">
          {{ pag }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="javascript:moveToPage({{ page.number|add:'1'}});">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-order" tabindex="-1"
  aria-labelledby="add-order" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="add-order-form" action="/administration/orders/add/" onsubmit="selectAll();" method="post">
        <div class="modal-body">
          <label>Items:</label>
          <div>
            <select id="add-order-items" name="items[]" multiple>
            </select>
          </div>
          <label>User:</label>
          <div>
            <select id="add-order-users" name="user">
              {% for user in users %}
              <option value="{{ user.user.username }}">{{ user.user.username }}</option>
              {% endfor %}
            </select>
          </div>
          <label>Status:</label>
          <div>
            <select id="add-order-statuses" name="status">
              {% for id, name in statuses.items %}
              <option value="{{ id }}">{{ name }}</option>
              {% endfor %}
            </select>
          </div><br>
          <button type="button" class="btn btn-primary" data-bs-target="#add-order-orderitem" data-bs-toggle="modal"
            data-bs-dismiss="modal">Add Item</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-order-orderitem" tabindex="-1"
    aria-labelledby="add-order-orderitem" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="remove-cat-title">Add Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label>Product:</label>
          <div>
            <select id="orderitem-select" name="items">
              {% for product in products %}
              <option value="{{ product.id }}">{{ product.name }}</option>
              {% endfor %}
            </select>
          </div>
          <label>Quantity:</label>
          <div>
            <input type="number" id="orderitem-quantity" name="orderitem-quantity" placeholder="Quantity">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-target="#add-order" data-bs-toggle="modal"
            data-bs-dismiss="modal" data-bs-dismiss="modal">Back</button>
          <button type="button" data-bs-target="#add-order" data-bs-toggle="modal" data-bs-dismiss="modal"
            onclick="addOrderItemModal(this);" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="rem-order" tabindex="-1"
    aria-labelledby="rem-order" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="remove-cat-title">Delete Orders</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4><b>Are you sure?</b></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
          <form id="rem-order-form" action="/administration/orders/del/" method="post"
            onsubmit="return deleteOrders(this);">
            {% csrf_token %}
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function addOrderItemModal(elem) {
      option = document.createElement('option');
      e = document.getElementById('orderitem-select');
      q = document.getElementById('orderitem-quantity');
      items = document.getElementById('add-order-items');

      for (var i = 0; i < items.length; i++) {
        if (items.options[i].text.startsWith(e.options[e.selectedIndex].text)) {
          items.options[i].text = e.options[e.selectedIndex].text + ', ' + (parseInt(items.options[i].text.split(', ')[1]) + parseInt(q.value));
          items.options[i].value = e.options[e.selectedIndex].value + ', ' + items.options[i].text.split(', ')[1];
          return;
        }
      }

      option.text = e.options[e.selectedIndex].text + ', ' + q.value;
      option.value = e.options[e.selectedIndex].value + ', ' + q.value;
      option.selected = 'true'
      document.getElementById('add-order-items').add(option);
    }

    function selectAll() {
      options = document.getElementById('add-order-items').getElementsByTagName('option');
      for (i = 0; i < options.length; i++) {
        options[i].selected = 'true';
      }
    }

    function deleteOrders(elem) {
      var table = document.getElementById('table1');
      var ok = false;

      for (const inp of table.getElementsByTagName('input')) {
        if (!inp.checked)
          continue;

        var row = inp.parentElement.parentElement;
        var elems = row.getElementsByTagName('td');

        for (const elem of elems) {
          if("id" in elem.dataset) {
            var id = elem.innerText.match(/\d+/)[0];
          }
        }

        input = document.createElement('input');
        input.hidden = 'hidden';
        input.type = 'number';
        input.defaultValue = id;
        input.name = 'id';
        document.getElementById('rem-order-form').appendChild(input);
        ok = true;
      }

      return ok;
    }

    function checkOrderFilter(form) {
      for (const elem of form.elements) {
        if (elem.value === '')
          elem.disabled = true;
      }
    }
  </script>

  {% endblock %}