{% extends 'admin1/base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
{% if message|stringformat:'s' == 'order_exists' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Order already exists!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height: 850px;">
        <h2 class="tm-block-title">Report</h2>
        <div class="container">
          <form action="/administration/report/" method="get" onsubmit="checkOrderFilter(this);">
            <div class="row">
              <div class="col-sm-4">
                <input name="ord-before" class="form-universal" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Ordered before" type="datetime-local" value="{{ pass_order_before }}">
              </div>
              <div class="col-sm-4">
                <input name="ord-after" class="form-universal" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Ordered after" type="datetime-local" value="{{ pass_order_after }}"><br>
              </div>
              <div class="col-sm-4">
                <select name="timegroup" class="form-select">
                  <option value="-1" selected disabled>Group By:</option>
                  <option value="0" {% if pass_timegroup == 'day' %} selected {% endif %}>Day</option>
                  <option value="1" {% if pass_timegroup == 'week' %} selected {% endif %}>Week</option>
                  <option value="2" {% if pass_timegroup == 'month' %} selected {% endif %}>Month</option>
                  <option value="3" {% if pass_timegroup == 'year' %} selected {% endif %}>Year</option>
                </select>
              </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary text-uppercase">Filter</button>
                <a href="/administration/report/" class="btn btn-primary text-uppercase">Clear filters</a>
              </div>
            </div>
          </form>
        </div>
        <div class="tm-product-table-container">
          <table id="table1" class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">TIMESTAMP</th>
                <th scope="col">ORDERS</th>
                <th scope="col">PRODUCTS</th>
                <th scope="col">TOTAL PRICE</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr>
                <td><b>{{ item.start_day }}</b></td>
                <td id="id"><b>{{ item.orders }}</b></td>
                <td>
                  {% if item.status|stringformat:'s' == '1' %}
                  <div class="tm-status-circle pending"></div>
                  {% elif item.status|stringformat:'s' == '2' %}
                  <div class="tm-status-circle moving"></div>
                  {% elif item.status|stringformat:'s' == '3' %}
                  <div class="tm-status-circle cancelled"></div>
                  {% elif item.status|stringformat:'s' == '4' %}
                  <div class="tm-status-circle cancelled"></div>
                  {% elif item.status|stringformat:'s' == '5' %}
                  <div class="tm-status-circle moving"></div>
                  {% endif %}
                  {{ item.products }}
                </td>
                <td style="text-align: right;"><b>{{ item.get_total }} $</b></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <div class="d-grid gap-2">
          <a class="btn btn-primary text-uppercase mb-3" onclick="location.pathname='administration/report/excel/'">Download CSV file</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pagination Start -->
{% if paginator %}
<div class="col-md-12">
  <nav>
    <ul class="pagination justify-content-center">
      {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="javascript:moveToPage({{ page.number|add:'-1'}});">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="" tabindex="-1">Previous</a>
      </li>
      {% endif %}
      {% for pag in pages %}
      {% if page.number|stringformat:'s' == pag|stringformat:'s' %}
      <li class="page-item active"><a class="page-link" href="">{{ pag }}</a></li>
      {% else %}
      <li class="page-item {% if '...' == pag|stringformat:'s' %}disabled{% endif %}"><a class="page-link" href="javascript:moveToPage({{ pag }});">
          {{ pag }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="javascript:moveToPage({{ page.number|add:'1'}});">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-product-item" tabindex="-1"
  aria-labelledby="add-product-item" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remove-cat-title">Add Product to search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Product:</label>
        <div>
          <input type="text" name="add-product-name" id="add-product-name" placeholder="Product name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
        <button type="button" data-bs-dismiss="modal"
          onclick="addOrderItemModal(this);" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<script>
  function addOrderItemModal(elem) {
      option = document.createElement('option');
      e = document.getElementById('add-product-name');
      items = document.getElementById('report-products');

      for (var i = 0; i < items.length; i++) {
        if(items.options[i].text.localeCompare(e.value, undefined, {sensitivity: 'accent'}) === 0)
          return;
      }

      option.text = e.value
      option.value = e.value
      option.selected = 'true'
      document.getElementById('report-products').add(option);
  }
  
  function checkOrderFilter(form) {
    for (const elem of form.elements) {
      if (elem.value === '')
        elem.disabled = true;
    }
  }
</script>

{% endblock %}