<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <% for(i = 0; i < items.length; i++) { %>
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="/product-detail/<%= items[i].productId %>"><img src="/media/<%= products[i].image %>" alt="Image"></a>
                                            <p><%= products[i].name %></p>
                                        </div>
                                    </td>
                                    <% if (products[i].discountPrice != products[i].price) { %>
                                    <td><%= products[i].discountPrice %>$</td>
                                    <% } else { %>
                                    <td><%= products[i].price %>$</td>
                                    <% } %>
                                    <td>
                                        <div class="qty">
                                            <form id="removeOCart" action="/removeFromCart" style="display: inline;" method="get">
                                                <input type="hidden" value="<%= items[i].id %>" name="orderid" style="display: inline;">
                                                <input id="removeOCartQty" type="hidden" value="1" name="quantity" style="display: inline;">
                                                <button class="btn-minus" style="display: inline;" type="submit"><i class="fa fa-minus"></i></button>
                                            </form>
                                            <input id="qtyNum" data-max="<%= items[i].quantity %>" type="text" value="<%= items[i].quantity %>" disabled>
                                            <button class="btn-plus" onclick="javascript:addToCart(<%= products[i].id %>, 1, true)"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <td><%= totals[i] %>$</td>
                                    <td><form id="removeCart" action="/removeFromCart" style="display: inline;" method="get">
                                        <input type="hidden" value="<%= items[i].id %>" name="orderid" style="display: inline;">
                                        <input id="removeCartQty" type="hidden" value="-1" name="quantity" style="display: inline;">
                                        <button type="submit" style="display: inline;"><i class="fa fa-trash"></i></button>
                                    </form></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input type="text" placeholder="Coupon Code">
                                <button>Apply Code</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total<span><%= orderTotal %>$</span></p>
                                    <p>Shipping Cost<span>0$</span></p>
                                    <h2>Grand Total<span><%= orderTotal %>$</span></h2>
                                </div>
                                <div class="cart-btn">
                                    <button onclick="javascript:window.location.href = '/products';">Update Cart</button>
                                    <button onclick="javascript:window.location.href = '/checkout';">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->