<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table id="table" class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <% for(i=0; i < products.length; i++) { %>
                                    <tr>
                                        <td>
                                            <div class="img">
                                                <a href="/product-detail/<%= products[i].id %>"><img
                                                        src="/media/<%= products[i].image %>" alt="Image"></a>
                                                <p>
                                                    <%= products[i].name %>
                                                </p>
                                            </div>
                                        </td>
                                        <td class="price" data-id="<%= items[i].id %>">
                                            <% if (products[i].discountPrice !=products[i].price) { %>
                                                $<%= await products[i].getDiscountPriceWithVATStr() %>
                                                    <% } else { %>
                                                        $<%= await products[i].getPriceWithVATStr() %>
                                                            <% } %>
                                        </td>
                                        <td>
                                            <div class="qty">
                                                <button class="btn-minus"
                                                    onclick="javascript:removeFromCart(this, <%= products[i].id %>, 1)"><i
                                                        class="fa fa-minus"></i></button>
                                                <input type="text" value="<%= items[i].quantity %>" disabled>
                                                <button class="btn-plus"
                                                    onclick="javascript:addToCart(this, <%= products[i].id %>, 1, true)"><i
                                                        class="fa fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td class="total">$<%= totals[i] %>
                                        </td>
                                        <td>
                                            <button style="display: inline;"
                                                onclick="javascript:removeFromCart(this, <%= products[i].id %>, -1)"><i
                                                    class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input type="text" placeholder="Coupon Code">
                                <button>Apply Code</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total (Without VAT)<span id="subtotal">$<%= subTotal %></span></p>
                                    <p>VAT<span id="vatsum">$<%= orderVATSum %></span></p>
                                    <h2>Grand Total<span id="grandtotal">$<%= grandTotal %></span></h2>
                                    <br>
                                    <div class="checkout-coupons">
                                        <h1>Vouchers</h1>
                                        <% for (i=0; i<vouchers.length; i++) { %>
                                            <div class="media position-relative"
                                                style="background-color: #9999; border: solid #999999;"
                                                data-id="<%= vouchers[i].id %>">
                                                <div class="media-body checkout-body">
                                                    <h5 class="mt-0"><%= (await vouchers[i].getPromotion()).name %></h5>
                                                    <p>Price: <%= vouchers[i].value %> USD</p>
                                                    <a href="#" class="stretched-link" onclick="return toggleCoupon(this);"></a>
                                                </div>
                                            </div>
                                            <br>
                                        <% } %>
                                        <div class="media position-relative"
                                            style="background-color: #9999; border: solid #999999;">
                                            <div class="media-body checkout-body">
                                              <h5 class="mt-0">Coupon Females only</h5>
                                              <p>Price: 10 USD</p>
                                              <a href="#" class="stretched-link"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-btn">
                                    <% if (session.dataValues.username) { %>
                                        <button
                                            onclick="javascript:window.location.href = '/checkout';">Checkout</button>
                                        <% } else { %>
                                            <button data-bs-toggle="modal" data-bs-target="#loginModal"
                                                href="">Checkout</button>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleCoupon(elem) {
        let parent = elem.parentElement.parentElement;

        if (vouchers.includes(parent.dataset.id)) {
            parent.classList.remove("coupon-selected");

            vouchers.splice(vouchers.indexOf(parent.dataset.id), 1);
        } else if (vouchers.length < 3) {
            parent.classList.add("coupon-selected");

            vouchers.push(parent.dataset.id);
        }

        return false;
    }
</script>
<!-- Cart End -->