<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 24px;">
            <!-- Side Bar Start -->
            <div class="col-lg-3 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <% for(var i = 0; i < categories.length; i++) { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:addCategory(<%= categories[i].id %>);">
                                    <i class="<%= categories[i].imageCss %>"></i><%= categories[i].name %></a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
                
                <div class="sidebar-widget tag">
                    <h2 class="title">Filters</h2>
                    <% for(var i in filters) { %>
                    <% if (filters.hasOwnProperty(i)) { %>
                    <a href="javascript:clearFilter('i')"><%= i %>: <%= filters[i] %></a>
                    <% } %>
                    <% } %>
                    <% if(filters) {%>
                    <br>
                    <% } %>
                    <button onclick="javascript:clearFilters();" type="button" class="btn btn-secondary">Clear
                        filters</button>
                </div>
            </div>
            <!-- Side Bar End -->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <!-- 
                                <div class="col-md-4">
                                    <div class="product-search">
                                        <input id="searchProduct" type="text" placeholder="Search"
                                            onkeyup="addSearch(this);">
                                        <button><i class="fa fa-search" onclick="addSearchC(this);"></i></button>
                                    </div>
                                </div>
                                -->
                                <div class="col-md-4">
                                    <div class="product-sort">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-bs-toggle="dropdown">Product sort by
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" onclick="addSortByParams(this, 'newest');">Newest</a>
                                                <a class="dropdown-item" onclick="addSortByParams(this, 'sales');">Most sales</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-bs-toggle="dropdown">Product price range
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:addMinMax(0, 50);" class="dropdown-item">$0 to
                                                    $50</a>
                                                <a href="javascript:addMinMax(51, 100);" class="dropdown-item">$51 to
                                                    $100</a>
                                                <a href="javascript:addMinMax(101, 150);" class="dropdown-item">$101 to
                                                    $150</a>
                                                <a href="javascript:addMinMax(151, 200);" class="dropdown-item">$151 to
                                                    $200</a>
                                                <a href="javascript:addMinMax(201, 250);" class="dropdown-item">$201 to
                                                    $250</a>
                                                <hr class="dropdown-divider">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="amount1"
                                                            style="display: inline-block; margin-left: 10px;">$</label>
                                                        <input type="number" id="amount1"
                                                            onchange="javascript:changeMin();"
                                                            style="display: inline-block; border: 0; width: 50px; display:inline-block;">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="amount2" style="display: inline-block;">$</label>
                                                        <input type="number" id="amount2"
                                                            onchange="javascript:changeMax();"
                                                            style="display: inline-block; border: 0; width: 50px; display:inline-block; margin-right: 10px;">
                                                    </div>
                                                </div>
                                                <div id="slider-range" style="margin-left: 10px; margin-right: 10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% for(var i = 0; i < products.length; i++) { %>
                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="/product-detail/<%= products[i].dataValues.id %>"
                                    style="height: 30px;display: block;text-overflow: ellipsis;overflow: hidden; white-space: nowrap;"
                                    data-bs-toggle="tooltip" title="<%= products[i].dataValues.name %>"><%= products[i].dataValues.name %></a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html" style="height: 254.66px;overflow: hidden;">
                                    <% if(products[i].dataValues.image) { %>
                                    <img src="/media/<%= products[i].dataValues.image %>" style="object-fit: cover;" alt="Product Image">
                                    <% } else { %>
                                    <img src="" alt="No Image">
                                    <% } %>
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="/product-detail/<%= products[i].dataValues.id %>"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <div class="col">
                                    <% if(products[i].dataValues.discountPrice != products[i].dataValues.price) { %>
                                    <h5 style="color: white; display: inline-block; margin: 0;"><s>$<%= await products[i].getPriceWithVATAsString() %></s>
                                    </h5>
                                    <h3 class="discount-price">$<%= await products[i].getDiscountPriceWithVATAsString() %></h3>
                                    <% } else { %>
                                    <h3>$<%= await products[i].getPriceWithVATAsString() %></h3>
                                    <% } %>
                                </div>
                                <div class="col">
                                    <a class="btn" href="/product-detail/<%= products[i].dataValues.id %>">
                                        <i class="fa fa-shopping-cart"></i>Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <!-- Pagination Start -->
                    <div class="col-md-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <% if(page > 1) { %>
                                <li class="page-item">
                                    <a class="page-link"
                                    href="javascript:moveToPage(<%= page - 1 %>);">Previous</a>
                                </li>
                                <% } else { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href="" tabindex="-1">Previous</a>
                                </li>
                                <% } %>
                                <% for(var i = 0; i < pages.length; i++) { %>
                                <% if(pages[i] == page) { %>
                                <li class="page-item active"><a class="page-link" href=""><%= page %></a></li>
                                <% } else { %>
                                <li class="page-item <% if (pages[i] == '...') {%> disabled <% } %>"><a class="page-link" href="javascript:moveToPage(<%= pages[i] %>);">
                                    <%= pages[i] %></a></li>
                                <% } %>
                                <% } %>
                                <% if(page < pages[pages.length - 1]) { %>
                                <li class="page-item">
                                    <a class="page-link"
                                    href="javascript:moveToPage(<%= page + 1 %>);">Next</a>
                                </li>
                                <% } else { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href="">Next</a>
                                </li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Pass the filters
        var searchParams = new URLSearchParams(window.location.search);
        
        if(searchParams.get('search')) {
            document.getElementById('searchProduct').value = searchParams.get('search');
        }

        if(searchParams.get('minval') && searchParams.get('maxval')) {
            document.getElementById('amount1').value = searchParams.get('minval');
            document.getElementById('amount2').value = searchParams.get('maxval');
            // alert(document.getElementById('amount2').value);
        }
    </script>
    <!-- Product List End -->