<!-- Login Start -->
<div class="row justify-content-md-center">
    <div class="col col-lg-2"></div>
    <div class="col-md-auto"><b>Register Form</b></div>
    <div class="col col-lg-2"></div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="row justify-content-md-center">
                <div class="login">
                    <div class="container-fluid">
                        <div class="col-lg-auto">
                            <div class="register-form">
                                <form action="/register" onsubmit="return checkRegisterForm();" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Username</label>
                                            <input class="form-control" type="text" placeholder="Username"
                                                name="username" id="username" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label>E-mail</label>
                                            <input class="form-control" type="email" placeholder="E-mail" name="email"
                                                id="email" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Password</label>
                                            <input class="form-control" type="password" placeholder="Password"
                                                name="password1" id="password1" maxlength="50" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Confirm Password</label>
                                            <input class="form-control" type="password" placeholder="Password"
                                                name="password2" id="password2" maxlength="50" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" placeholder="First Name"
                                                name="first" id="first" maxlength="50" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <input class="form-control" maxlength="50" type="text" placeholder="Last Name" name="last"
                                                id="last" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Address</label>
                                            <input class="form-control" type="text" placeholder="Address" name="address"
                                                id="address" maxlength="200">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Country</label>
                                            <select class="form-control" name="country" id="country"
                                                onmousedown="addCountries();" required>
                                                <option value="" selected disabled>Select country</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Gender</label>
                                            <select class="form-control" name="gender" id="gender" required>
                                                <option value="Select gender" selected disabled>Select gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Birthday</label>
                                            <input class="form-control" type="date" name="birthday" id="birthday" required>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label" id="errorMsg" style="color: red;"></label>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn" type="submit">Submit</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function addCountries()
    {
        var select = document.getElementById("country");

        if (select.getElementsByTagName("option").length > 1)
            return;
        
        var options = await getCountries();

        for(var i = 0; i < options.length; i++) {
            var opt = options[i];
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = opt;
            select.appendChild(el);
        }
        
        select.getElementsByTagName("option").length > 1;
    }
</script>
<!-- Login End -->